<!-- Lodash -->
<script type="text/javascript" src="/lib/lodash/lodash.min.js"></script>

<!-- Async -->
<script type="text/javascript" src="/lib/async/lib/async.js"></script>

<!-- Angular JS -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-i18n/angular-locale_it-it.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/lib/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="/lib/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/lib/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/lib/hammerjs/hammer.min.js"></script>
<script type="text/javascript" src="/lib/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="/lib/angulartics/dist/angulartics.min.js"></script>
<script type="text/javascript" src="/lib/angulartics/dist/angulartics-ga.min.js"></script>


{% if (process.env.NODE_ENV == 'development') %}

<!-- Application Init -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>

<!-- Application Directives -->
<script type="text/javascript" src="/js/directives/asConfirmedClick.js"></script>
<script type="text/javascript" src="/js/directives/d3.js"></script>

<!-- Application Filters -->
<script type="text/javascript" src="/js/filters/address.js"></script>
<script type="text/javascript" src="/js/filters/name.js"></script>
<script type="text/javascript" src="/js/filters/ordinalNumber.js"></script>
<script type="text/javascript" src="/js/filters/time.js"></script>
<script type="text/javascript" src="/js/filters/weekDay.js"></script>

<!-- Application Services -->
<script type="text/javascript" src="/js/services/global.js"></script>
<script type="text/javascript" src="/js/services/smartState.js"></script>
<script type="text/javascript" src="/js/services/regions.js"></script>
<script type="text/javascript" src="/js/services/feedback.js"></script>
<script type="text/javascript" src="/js/services/user.js"></script>
<script type="text/javascript" src="/js/services/school.js"></script>
<script type="text/javascript" src="/js/services/complex.js"></script>
<script type="text/javascript" src="/js/services/teacher.js"></script>
<script type="text/javascript" src="/js/services/student.js"></script>
<script type="text/javascript" src="/js/services/parent.js"></script>
<script type="text/javascript" src="/js/services/classStudent.js"></script>
<script type="text/javascript" src="/js/services/academicYear.js"></script>
<script type="text/javascript" src="/js/services/schoolClass.js"></script>
<script type="text/javascript" src="/js/services/teaching.js"></script>
<script type="text/javascript" src="/js/services/teacherTeaching.js"></script>
<script type="text/javascript" src="/js/services/classRegistry.js"></script>
<script type="text/javascript" src="/js/services/teachingRegistry.js"></script>
<script type="text/javascript" src="/js/services/communication.js"></script>
<script type="text/javascript" src="/js/services/d3.js"></script>

<!-- Application Controllers -->
<script type="text/javascript" src="/js/controllers/login.js"></script>
<script type="text/javascript" src="/js/controllers/users.js"></script>
<script type="text/javascript" src="/js/controllers/schools.js"></script>
<script type="text/javascript" src="/js/controllers/complexes.js"></script>
<script type="text/javascript" src="/js/controllers/teachers.js"></script>
<script type="text/javascript" src="/js/controllers/students.js"></script>
<script type="text/javascript" src="/js/controllers/classStudents.js"></script>
<script type="text/javascript" src="/js/controllers/parents.js"></script>
<script type="text/javascript" src="/js/controllers/academicYears.js"></script>
<script type="text/javascript" src="/js/controllers/schoolClasses.js"></script>
<script type="text/javascript" src="/js/controllers/teachings.js"></script>
<script type="text/javascript" src="/js/controllers/classRegistry.js"></script>
<script type="text/javascript" src="/js/controllers/teachingRegistry.js"></script>
<script type="text/javascript" src="/js/controllers/communications.js"></script>
<script type="text/javascript" src="/js/controllers/index.js"></script>
<script type="text/javascript" src="/js/controllers/header.js"></script>
<script type="text/javascript" src="/js/init.js"></script>

<!-- Livereload script rendered -->
<script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}

{% if (process.env.NODE_ENV == 'production') %}
<script type="text/javascript" src="/app.min.js"></script>
<script type="text/javascript"  src="/templates.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58277088-1', 'auto');

</script>
{% endif %}