<!-- Lodash -->
<script type="text/javascript" src="/lib/lodash/dist/lodash.js"></script>

<!-- Angular JS -->
<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/angular-i18n/angular-locale_it-it.js"></script>
<script type="text/javascript" src="/lib/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/lib/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

<!-- Angular UI -->
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<!-- Application Init -->
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/config.js"></script>

<!-- Application Directives -->
<script type="text/javascript" src="/js/directives/datatable.js"></script>

<!-- Application Filters -->
<script type="text/javascript" src="/js/filters/address.js"></script>
<script type="text/javascript" src="/js/filters/name.js"></script>
<script type="text/javascript" src="/js/filters/day.js"></script>
<script type="text/javascript" src="/js/filters/ordinalNumber.js"></script>

<!-- Application Services -->
<script type="text/javascript" src="/js/services/global.js"></script>
<script type="text/javascript" src="/js/services/provinces.js"></script>
<script type="text/javascript" src="/js/services/school.js"></script>
<script type="text/javascript" src="/js/services/teacher.js"></script>
<script type="text/javascript" src="/js/services/student.js"></script>
<script type="text/javascript" src="/js/services/academicYear.js"></script>
<script type="text/javascript" src="/js/services/schoolClass.js"></script>
<script type="text/javascript" src="/js/services/teaching.js"></script>
<script type="text/javascript" src="/js/services/timeTable.js"></script>

<!-- Application Controllers -->
<script type="text/javascript" src="/js/controllers/schools.js"></script>
<script type="text/javascript" src="/js/controllers/teachers.js"></script>
<script type="text/javascript" src="/js/controllers/students.js"></script>
<script type="text/javascript" src="/js/controllers/academicYears.js"></script>
<script type="text/javascript" src="/js/controllers/schoolClasses.js"></script>
<script type="text/javascript" src="/js/controllers/teachings.js"></script>
<script type="text/javascript" src="/js/controllers/timeTables.js"></script>
<script type="text/javascript" src="/js/controllers/index.js"></script>
<script type="text/javascript" src="/js/controllers/header.js"></script>
<script type="text/javascript" src="/js/init.js"></script>


{% if (process.env.NODE_ENV == 'development') %}
    <!-- Livereload script rendered -->
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}
