<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <!--<title>{{appName}} - {{title}}</title>-->
  <title>Aurea: un registro elettronico aperto</title>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="keywords" content="aurea, registro elettronico, open source, scuola">
  <meta name="description" content="Aurea: un registro elettronico aperto">

  <link rel="icon" type="image/png" href="/img/icons/favicon.png" />

  <meta property="fb:app_id" content="APP_ID">
  <meta property="og:title" content="{{appName}} - {{title}}">
  <meta property="og:description" content="Aurea: un registro elettronico aperto">
  <meta property="og:type" content="website">
  <meta property="og:url" content="APP_URL">
  <meta property="og:image" content="APP_LOGO">
  <meta property="og:site_name" content="Aurea">
  <meta property="fb:admins" content="APP_ADMIN">

  <link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">

  {% if (process.env.NODE_ENV == 'development') %}
  <link rel="stylesheet" href="/css/common.css">
  {% endif %}

  {% if (process.env.NODE_ENV == 'production') %}
  <link rel="stylesheet" href="/app.min.css">
  {% endif %}

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
