<section data-ng-init="init()">

  <h1>Crea scuola</h1>

  <form class="form-horizontal" role="form" data-ng-submit="create()">

    <bsinput type="text" model="school.name" id="name" placeholder="Nome">Nome</bsinput>

    <h2>Plessi</h2>

    <div data-ng-repeat="complex in school.complexes">

      <bsinput type="text" model="complex.address" id="address{{$index}}" placeholder="Via">Via</bsinput>

      <bsinput type="text" model="complex.zipCode" id="zipCode{{$index}}" placeholder="CAP">CAP</bsinput>

      <bsinput type="text" model="complex.city" id="city{{$index}}" placeholder="Città">Città</bsinput>

      <bsselect model="complex.province" id="province{{$index}}" options="provinces" value="code" label="name">Provincia</bsselect>

      <bsbutton click="removeComplex($index)"><i class="fa fa-trash-o"></i> Rimuovi plesso</bsbutton>
    </div>

    <bsbutton click="addComplex()"><i class="fa fa-plus"></i> Nuovo plesso</bsbutton>

    <bssubmit>Crea</bssubmit>

  </form>

</section>