<section data-ng-init="find()">

  <h2>Scuole</h2>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Nome Istituto</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="school in schools">
        <td>{{school.name}}</td>
        <td>
          <a data-ng-href="/#!/scuole/{{school._id}}" class="btn btn-default btn-xs" title="dettagli"><i class="fa fa-eye"></i></a>
          <a data-ng-href="/#!/scuole/{{school._id}}/modifica" class="btn btn-default btn-xs" title="modifica"><i class="fa fa-pencil"></i></a>
          <a data-ng-click="confirmRemove(school)" class="btn btn-default btn-xs" title="elimina"><i class="fa fa-trash-o"></i></a>
        </td>
      </tr>
      <tr data-ng-show="schools.length == 0" colspan="2">
        <td>Non sono presenti scuole</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <a class="btn btn-default pull-right" href="#!/scuole/crea"><i class="fa fa-plus"></i> Nuova scuola</a>
        </td>
      </tr>
    </tfoot>
  </table>

</section>