<section data-ng-init="init()">

  <h1>Crea alunno</h1>

  <form class="form-horizontal" role="form" data-ng-submit="create()">

    <bsinput type="text" model="student.firstName" id="firstName" placeholder="Nome">Nome</bsinput>

    <bsinput type="text" model="student.lastName" id="lastName" placeholder="Cognome">Cognome</bsinput>

    <bsinput type="date" model="student.birthDate" id="birthDate" placeholder="Data di nascita">Data di nascita</bsinput>

    <bssubmit>Crea</bssubmit>

  </form>

</section>