<section data-ng-controller="ClassRegistryCtrl" data-ng-init="init()">

    <h2>Registro Di Classe</h2>
    <button class="btn" data-ng-click="yesterday()">Ieri</button>
    <button class="btn" data-ng-click="tomorrow()">domani</button>
    <h3>{{ classRegistry.day | date:'EEEE, d MMMM yyyy' }}</h3>

    <form data-ng-submit="save()" novalidate>
        <table class="table">
            <thead>
                <tr>
                    <th>Ora</th>
                    <th>Supplenza?</th>
                    <th>Materia</th>
                    <th>Assenti</th>
                    <th>Argomento</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="slot in classRegistry.slots">
                    <td>{{$index+1}}</td>
                    <td><input type="checkbox" data-ng-model="slot.substitution"></td>
                    <td>Non implementato</td>
                    <td>Non implementato</td>
                    <td><input type="text" data-ng-model="slot.subject"></td>
                    <td><input type="text" data-ng-model="slot.notes"></td>
                </tr>
            </tbody>
        </table>

        <hr>

        <button type="submit" class="btn btn-primary">Salva</button>

    </form>

</section>