<section class="container-fluid" data-ng-controller="ClassRegistryCtrl" data-ng-init="init()">

    <div class="row">
        <div class="col-xs-2">
            <h3>Alunni</h3>
            <ul class="list-group">
                <li class="list-group-item" data-ng-repeat="student in classStudents">
                    <div>
                        <h5>{{ student | name:true}}</h5>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-8">

            <h2>Registro Di Classe</h2>
            <button class="btn" data-ng-click="yesterday()">Ieri</button>
            <button class="btn" data-ng-click="tomorrow()">domani</button>
            <h3>{{ classRegistry.date | date:'EEEE, d MMMM yyyy' }}</h3>

            <form data-ng-submit="save()" novalidate>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Ora</th>
                        <th>Materia</th>
                        <th>Supplenza</th>
                        <th>Compresenze</th>
                        <th>Sostegni</th>
                        <th>Argomento</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="slot in classRegistry.slots | orderBy:'number'">
                        <td>{{ slot.number | ordinalNumber}} Ora</td>
                        <td>
                            <select data-ng-model="slot.teaching" id="teaching" name="teaching" class="form-control"
                                    data-ng-options="teaching._id as teaching.name for teaching in teachings"></select>
                        </td>
                        <td>
                            <select data-ng-model="slot.substitution" id="substitution" name="substitution"
                                    class="form-control"
                                    data-ng-options="teacher._id as teacher | name for teacher in teachers">
                                <option></option>
                            </select>
                        </td>
                        <td>
                            <select data-ng-model="slot.assistantTeachers" id="assistantTeachers"
                                    name="assistantTeachers"
                                    class="form-control"
                                    multiple data-ng-multiple="true"
                                    data-ng-options="teacher._id as teacher | name for teacher in teachers">
                            </select>
                        </td>
                        <td>
                            <select data-ng-model="slot.supportTeachers" id="supportTeachers" name="supportTeachers"
                                    class="form-control"
                                    multiple data-ng-multiple="true"
                                    data-ng-options="teacher._id as teacher | name for teacher in teachers">
                            </select>
                        </td>
                        <td><input type="text" data-ng-model="slot.subject" class="form-control"></td>
                        <td><input type="text" data-ng-model="slot.notes" class="form-control"></td>
                    </tr>
                    </tbody>
                </table>

                <hr>

                <button type="submit" class="btn btn-primary">Salva</button>

            </form>
        </div>
    </div>

</section>