<section ng-init="init()" flex layout="column">

  <section flex layout="row">
    <md-sidenav layout="column" style="display: flex;" class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left" md-is-locked-open="true">
      <md-toolbar class="md-grey-theme md-whiteframe-z1" layout="column">
        <h2 class="md-toolbar-tools">
          <span flex>Alunni</span>

          <section layout="row">
            <md-button ng-click="toggleAbsents()" ng-disabled="noneSelected()" class="icon-button">
              <span>A</span>
              <md-tooltip>Assenza</md-tooltip>
            </md-button>
            <md-button ng-click="addLateEntrance()" ng-disabled="!isValidEntranceSelection()" class="icon-button">
              <span>E</span>
              <md-tooltip>Entrata posticipata</md-tooltip>
            </md-button>
            <md-button ng-click="addEarlyLeave()" ng-disabled="!isValidLeaveSelection()" class="icon-button">
              <span>U</span>
              <md-tooltip>Uscita anticipata</md-tooltip>
            </md-button>
          </section>
        </h2>
      </md-toolbar>

      <md-content flex md-scroll-y>
        <section ng-repeat="student in classStudents | orderBy:['lastName', 'firstName']" flex layout="row" layout-fill>
          <md-checkbox ng-model="student.selected" class="menu-item" flex layout="row" layout-fill>
            <span flex class="title">{{student | name:false}}</span>
            <span ng-show="studentIsAbsent(student)">A</span>
            <span ng-show="studentHasEntered(student)">E</span>
            <span ng-show="studentHasLeft(student)">U</span>
          </md-checkbox>
        </section>
      </md-content>
    </md-sidenav>

    <section flex layout="column" layout-fill>
      <md-toolbar class="md-grey-theme md-whiteframe-z1">
        <h2 class="md-toolbar-tools" layout-align="end">
          <md-button ng-click="goPrevDay()" class="icon-button">
            <i class="fa fa-arrow-circle-o-left"></i>
            <md-tooltip>Giorno precedente</md-tooltip>
          </md-button>
          <span>{{ classRegistry.date | date:'EEEE, d MMMM yyyy'}}</span>
          <md-button ng-click="goNextDay()" class="icon-button">
            <i class="fa fa-arrow-circle-o-right"></i>
            <md-tooltip>Giorno successivo</md-tooltip>
          </md-button>
        </h2>
      </md-toolbar>

      <md-content class="md-padding" md-scroll-y flex>
        <div layout="column" layout-fill class="content">
          <form name="classRegistryForm" ng-submit="save(classRegistryForm.$valid)" novalidate flex layout="column">
            <section class="md-whiteframe-z1">

              <section data-ng-repeat="slot in classRegistry.slots | orderBy:'number'">
                <md-toolbar class="md-grey-theme">
                  <h2 class="md-toolbar-tools">
                    {{ slot.number | ordinalNumber }}
                    Ora ({{timeslots.slots[$index].start | time}} - {{timeslots.slots[$index].end | time}})
                  </h2>
                </md-toolbar>

                <md-content class="md-padding">

                  <div layout layout-sm="column">
                    <md-select ng-model="slot.teaching" placeholder="Materia" flex>
                      <md-option ng-value="teaching._id" ng-repeat="teaching in teachings">{{ teaching.name }}</md-option>
                    </md-select>
                  </div>

                  <div layout layout-sm="column">
                    <md-checkbox ng-model="slot.isSubstitution" flex="20">Supplenza</md-checkbox>

                    <md-select ng-model="slot.substitution" placeholder="Docente di supplenza" ng-if="slot.isSubstitution" flex>
                      <md-option ng-value="teacher._id" ng-repeat="teacher in teachers">{{ teacher | name }}</md-option>
                    </md-select>
                  </div>

                  <div layout layout-sm="column">
                    <md-input-container flex="50">
                      <label>Argomento</label>
                      <textarea name="subject" ng-model="slot.subject" rows="5" tabindex="2"></textarea>
                    </md-input-container>

                    <md-input-container flex="50">
                      <label>Note disciplinari</label>
                      <textarea name="notes" ng-model="slot.notes" rows="5" tabindex="2"></textarea>
                    </md-input-container>
                  </div>

                  <div layout layout-sm="column">
                    <md-checkbox ng-model="slot.isSupport" flex="20">Sostegno</md-checkbox>

                    <md-select ng-model="slot.supportTeachers" placeholder="Docenti di sostegno" multiple ng-if="slot.isSupport" flex>
                      <md-option ng-value="teacher._id" ng-repeat="teacher in teachers">{{ teacher | name }}</md-option>
                    </md-select>
                  </div>

                  <div layout layout-sm="column">
                    <md-checkbox ng-model="slot.isAssistant" flex="20">Compresenza</md-checkbox>

                    <md-select ng-model="slot.assistantTeachers" placeholder="Docenti di compresenza" multiple ng-if="slot.isAssistant" flex>
                      <md-option ng-value="teacher._id" ng-repeat="teacher in teachers">{{ teacher | name }}</md-option>
                    </md-select>
                  </div>

                </md-content>

              </section>

            </section>
          </form>
        </div>
      </md-content>

      <md-button ng-disabled="classRegistryForm.$invalid" ng-click="save(classRegistryForm.$valid)"
                 class="md-fab md-primary add-button">
        <i class="fa fa-save"></i>
        <md-tooltip>Salva</md-tooltip>
      </md-button>
    </section>
  </section>
</section>