<section ng-init="init()" flex layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
              md-is-locked-open="$media('md')">
    <md-toolbar class="md-whiteframe-z1">
      <h2 class="md-toolbar-tools">
        <span flex>Alunni</span>

        <section layout="row" layout-align="end">
          <md-button ng-click="toggleAbsents()" ng-disabled="noneSelected()" class="icon-button">A
            <md-tooltip>Assenza</md-tooltip>
          </md-button>
          <md-button ng-click="addLateEntrance()" ng-disabled="!isValidEntranceSelection()" class="icon-button">E
            <md-tooltip>Entrata posticipata</md-tooltip>
          </md-button>
          <md-button ng-click="addEarlyLeave()" ng-disabled="!isValidLeaveSelection()" class="icon-button">U
            <md-tooltip>Uscita anticipata</md-tooltip>
          </md-button>
        </section>
      </h2>
    </md-toolbar>
    <md-content flex md-scroll-y>
      <section ng-repeat="student in classStudents | orderBy:['lastName', 'firstName']" flex layout="row" layout-fill>
        <md-checkbox ng-model="student.selected" class="menu-item" flex layout="row" layout-fill>
          <span flex class="title">{{student | name:true}}</span>
          <span ng-show="studentIsAbsent(student)">A</span>
          <span ng-show="studentHasEntered(student)">E</span>
          <span ng-show="studentHasLeft(student)">U</span>
        </md-checkbox>
      </section>
    </md-content>
  </md-sidenav>

  <section flex layout="column" layout-fill>
    <md-toolbar class="md-whiteframe-z1">
      <h2 class="md-toolbar-tools">
        <md-button ng-click="toggleLeft()" class="icon-button" hide show-phone show-tablet>
          <i class="fa fa-bars"></i>
        </md-button>
        <span flex>Registro di classe</span>
      </h2>
    </md-toolbar>

    <md-content flex md-scroll-y class="md-padding">
      <div layout="column" layout-fill layout-align="center center">
      </div>
    </md-content>
  </section>
</section>