<md-dialog flex>
  <md-toolbar>
    <h2 class="md-toolbar-tools">Invia Feedback</h2>
  </md-toolbar>
  <md-content class="md-padding">
    <form name="feedbackForm" ng-submit="save(feedbackForm.$valid)" novalidate>
      <span>Voto: {{feedback.rating}}/5</span>
      <md-slider md-discrete ng-model="feedback.rating" step="1" min="1" max="5"></md-slider>

      <md-input-container flex>
        <label>Email</label>
        <input type="email" name="email" ng-model="feedback.email" tabindex="1" autofocus/>

        <div ng-messages="feedbackForm.email.$error" ng-show="feedbackForm.email.$dirty">
          <div ng-message="email">Email non valida</div>
        </div>
      </md-input-container>

      <md-input-container flex>
        <label>Messaggio</label>
        <textarea name="text" ng-model="feedback.text" required rows="5" tabindex="2"></textarea>

        <div ng-messages="feedbackForm.text.$error" ng-show="feedbackForm.text.$dirty">
          <div ng-message="required">Messaggio obbligatorio</div>
        </div>
      </md-input-container>
    </form>

    <div class="md-actions" layout="row">
      <md-button ng-click="cancel()" tabindex="4">
        Annulla
      </md-button>
      <md-button class="md-primary" ng-disabled="feedbackForm.$invalid" ng-click="save(feedbackForm.$valid)" tabindex="3">
        Invia
      </md-button>
    </div>
  </md-content>
</md-dialog>