<div ng-controller="HeaderCtrl">
  <section ng-if="global.isLoggedin()">
    <md-toolbar class="md-white-theme md-whiteframe-z1">
      <h1 class="md-toolbar-tools">
        <a ui-sref="home" layout="row" layout-align="center center">
          <img src="../img/icons/logo.png" class="logo">
          <span>Aurea</span>
          <md-tooltip>Home</md-tooltip>
        </a>

        <span flex></span>

        <section layout="row" layout-align="end">
          <md-button ng-click="getFeedback()" class="icon-button">
            <i class="fa fa-star-o"></i>
            <md-tooltip>Feedback</md-tooltip>
          </md-button>
          <md-button ng-click="goToListCommunications()" ng-if="global.getSchool()" class="icon-button">
            <i class="fa fa-bullhorn"></i>
            <md-tooltip>Comunicazioni</md-tooltip>
          </md-button>
          <md-button ng-click="goToViewUser()" class="icon-button" ng-show="false">
            <i class="fa fa-user"></i>
            <md-tooltip>Profilo</md-tooltip>
          </md-button>
          <md-button ng-click="logout()" class="icon-button">
            <i class="fa fa-sign-out"></i>
            <md-tooltip>Logout</md-tooltip>
          </md-button>
        </section>
      </h1>
    </md-toolbar>

    <md-toolbar class="md-whiteframe-z1">
      <div class="md-toolbar-tools">
        <section ng-repeat="menuitem in menu" class="breadcrumbs">
          <button ng-click="showListBottomSheet(menuitem)" ng-class="{'clickable': menuitem.label}" class="breadcrumb">
            <span class="label">{{menuitem.label}}</span>
            <span class="value">{{menuitem.value}}</span>
            <md-tooltip ng-if="menuitem.label">Azioni per {{menuitem.label}}</md-tooltip>
          </button>
          <span ng-if="!$last" class="grather">
            <i class="fa fa-angle-right"></i>
          </span>
        </section>
      </div>
    </md-toolbar>
  </section>
</div>