<section ng-controller="LoginCtrl" flex layout="row" layout-align="center center">

  <div class="logo-big" flex layout="column" layout-align="center">
    <img src="../img/icons/logo-big.png" class="logo-big">
  </div>

  <form name="loginForm" ng-submit="login()" novalidate flex layout="column" layout-align="center">
    <md-content class="md-padding login-content" layout="row" layout-align="center">
      <div class="loginForm md-whiteframe-z1" flex>
        <md-toolbar>
          <h2 class="md-toolbar-tools">Login</h2>
        </md-toolbar>

        <md-content class="md-padding">

          <md-input-container flex>
            <label>Email</label>
            <input type="email" name="email" ng-model="user.email" required tabindex="1" autofocus/>

            <div ng-messages="loginForm.email.$error" ng-show="loginForm.email.$dirty">
              <div ng-message="required">Email obbligatoria</div>
              <div ng-message="email">Email non valida</div>
            </div>
          </md-input-container>

          <md-input-container flex>
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" required tabindex="2"/>

            <div ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty">
              <div ng-message="required">Password obbligatoria</div>
            </div>
          </md-input-container>

        </md-content>
      </div>
    </md-content>

    <md-button type="button" class="md-fab back-button" ng-click="getInfo()" tabindex="4">
      <i class="fa fa-info"></i>
      <md-tooltip>Info</md-tooltip>
    </md-button>

    <md-button class="md-fab md-primary add-button" tabindex="3">
      <i class="fa fa-sign-in"></i>
      <md-tooltip>Login</md-tooltip>
    </md-button>
  </form>

</section>