<section ng-controller="LoginCtrl" layout="vertical" layout-align="center center">

  <form ng-submit="login()" novalidate>

    <md-content class="md-padding">
      <div class="md-whiteframe-z1">
        <md-toolbar>
          <h2 class="md-toolbar-tools">Login</h2>
        </md-toolbar>

        <md-toolbar ng-show="loginerror">
          <span class="md-toolbar-tools">{{loginerror}}</span>
        </md-toolbar>

        <md-content class="md-padding">

          <md-text-float label="Email" ng-model="user.email" type="email" tabindex="0"></md-text-float>

          <md-text-float label="Password" ng-model="user.password" type="password" tabindex="1"></md-text-float>

        </md-content>
      </div>
    </md-content>

    <md-button class="md-fab md-primary add-button">
      <i class="fa fa-sign-in"></i>
      <md-tooltip>Login</md-tooltip>
    </md-button>
  </form>
</section>