<section ng-controller="UsersCtrl" ng-init="init()">
    <h2>Crea utente</h2>

    <form name="userForm" role="form" ng-submit="create()" novalidate>

        <div class="form-group">
            <label for="name" class="control-label">Nome</label>
            <input type="text" ng-model="user.name" id="name" name="name" class="form-control" placeholder="Nome">
        </div>

        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" ng-model="user.email" id="email" name="email" class="form-control" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="role" class="control-label">Ruoli</label>
            <select class="form-control" size="10" id="role" ng-model="user.role" ng-options="key as value for (key, value) in roles">
            </select>
        </div>

        <hr>

        <button type="submit" class="btn btn-primary">Crea</button>

        <button type="button" ng-click="goToListUsers()" class="btn btn-default">Annulla</button>

    </form>
</section>