<section data-ng-controller="UsersCtrl" data-ng-init="findOne()">
  <h2>Modifica utente</h2>

  <form name="userForm" role="form" data-ng-submit="update()" novalidate>

      <div class="form-group">
          <label for="name" class="control-label">Nome</label>
          <input type="text" data-ng-model="user.name" id="name" name="name" class="form-control" placeholder="Nome">
      </div>

      <div class="form-group">
          <label for="username" class="control-label">Username</label>
          <input type="text" data-ng-model="user.username" id="username" name="username" class="form-control" placeholder="Username">
      </div>

      <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input type="email" data-ng-model="user.email" id="email" name="email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
          <label for="roles" class="control-label">Ruoli</label>
          <select class="form-control" size="10" id="roles" multiple data-ng-multiple="true"
                  data-ng-model="user.roles" data-ng-options="key as value for (key, value) in roles">
          </select>
      </div>

    <hr>

    <button type="submit" class="btn btn-primary">Salva</button>

    <button type="button" data-ng-click="list()" class="btn btn-default">Annulla</button>

  </form>

    <button ng-click="prints()">prints</button>

</section>