<section ng-controller="UsersCtrl" ng-init="init()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">

      <form name="userForm" ng-submit="save(userForm.$valid)" novalidate flex layout="column">
        <section class="md-whiteframe-z1">
          <md-toolbar>
            <h2 class="md-toolbar-tools">{{title}}</h2>
          </md-toolbar>

          <md-content class="md-padding">

            <md-input-container flex>
              <label>Nome</label>
              <input type="text" name="name" ng-model="user.name" required tabindex="1" autofocus/>

              <div ng-messages="userForm.name.$error" ng-show="userForm.name.$dirty">
                <div ng-message="required">Nome obbligatorio</div>
              </div>
            </md-input-container>

            <md-input-container flex>
              <label>Email</label>
              <input type="email" name="email" ng-model="user.email" required tabindex="2"/>

              <div ng-messages="userForm.email.$error" ng-show="userForm.email.$dirty">
                <div ng-message="required">Email obbligatoria</div>
                <div ng-message="email">Email non valida</div>
              </div>
            </md-input-container>

            <div layout layout-sm="column">
              <md-select ng-model="user.role" placeholder="Ruolo" ng-disabled="editMode" flex required tabindex="3">
                <md-option ng-value="role.value" ng-repeat="role in roles">
                  {{role.label}}
                </md-option>
              </md-select>
            </div>
          </md-content>
        </section>
      </form>

    </div>
  </md-content>

  <md-button class="md-fab back-button" ng-click="goToListUsers()" tabindex="5">
    <i class="fa fa-reply-all"></i>
    <md-tooltip>Torna a Utenti</md-tooltip>
  </md-button>

  <md-button ng-disabled="userForm.$invalid" ng-click="save(userForm.$valid)" tabindex="4"
             class="md-fab md-primary add-button">
    <i class="fa fa-save"></i>
    <md-tooltip>Salva</md-tooltip>
  </md-button>

</section>