<section data-ng-controller="ComplexesCtrl" data-ng-init="findOne()" layout="vertical" layout-align="center center">

  <md-content class="md-content-padding ">
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">Modifica plesso</h2>
      </md-toolbar>

      <md-content class="md-theme-white md-content-padding">

        <form name="complexForm" data-ng-submit="update(complexForm.$valid)" novalidate>
          <md-text-float label="Nome" ng-model="complex.name" type="text" tabindex="0" name="name" class="longer" required></md-text-float>

          <md-text-float label="Via" ng-model="complex.street" type="text" tabindex="1" name="street" class="longer" required></md-text-float>

          <div layout="horizzontal">

            <md-text-float label="CAP" ng-model="complex.zipCode" type="text" tabindex="2" name="zipCode" class="short" required></md-text-float>

            <md-text-float label="Città" ng-model="complex.city" type="text" tabindex="3" name="city" required></md-text-float>

            <md-input-group label="Provincia" class="select-group" name="province" ng-class="{'md-input-has-value': complex.province}">
              <label>Provincia</label>
              <select ng-model="complex.province" name="province" tabindex="4" ng-options="province.code as province.name group by province.region for province in provinces"></select>
            </md-input-group>
          </div>

          <div layout="horizontal" layout-align="end">
            <md-button type="submit" class="md-button-colored" data-ng-disabled="complexForm.$invalid">Salva</md-button>
          </div>

        </form>
      </md-content>
    </div>
  </md-content>

  <md-button class="md-button-fab back-button md-theme-white" data-ng-click="goToListComplexes()">
    <i class="fa fa-arrow-left"></i>
    <md-tooltip>Torna a Plessi</md-tooltip>
  </md-button>

</section>