<section ng-controller="ComplexesCtrl" ng-init="init()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">

      <form name="complexForm" ng-submit="save(complexForm.$valid)" novalidate flex layout="column">
        <section class="md-whiteframe-z1">
          <md-toolbar>
            <h2 class="md-toolbar-tools">{{title}}</h2>
          </md-toolbar>

          <md-content class="md-padding">

            <md-input-container flex>
              <label>Nome</label>
              <input type="text" name="name" ng-model="complex.name" required tabindex="1" autofocus/>

              <div ng-messages="complexForm.name.$error" ng-show="complexForm.name.$dirty">
                <div ng-message="required">Nome obbligatorio</div>
              </div>
            </md-input-container>

            <md-input-container flex>
              <label>Via</label>
              <input type="text" name="street" ng-model="complex.street" required tabindex="2"/>

              <div ng-messages="complexForm.street.$error" ng-show="complexForm.street.$dirty">
                <div ng-message="required">Via obbligatoria</div>
              </div>
            </md-input-container>

            <div layout layout-sm="column">

              <md-input-container flex="20">
                <label>CAP</label>
                <input type="text" name="zipCode" ng-model="complex.zipCode" required ng-pattern="/^[0-9]{5}$/"
                       tabindex="3"/>

                <div ng-messages="complexForm.zipCode.$error" ng-show="complexForm.zipCode.$dirty">
                  <div ng-message="required">CAP obbligatorio</div>
                  <div ng-message="pattern">CAP non valido</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label>Città</label>
                <input type="text" name="city" ng-model="complex.city" required tabindex="4"/>

                <div ng-messages="complexForm.city.$error" ng-show="complexForm.city.$dirty">
                  <div ng-message="required">Città obbligatoria</div>
                </div>
              </md-input-container>

              <md-select ng-model="complex.province" placeholder="Provincia" flex="30" required tabindex="5">
                <md-optgroup label="{{region.name}}" ng-repeat="region in regions ">
                  <md-option ng-value="province.code" ng-repeat="province in region.provinces">
                    {{province.name}}
                  </md-option>
                </md-optgroup>
              </md-select>

            </div>

          </md-content>
        </section>
      </form>

    </div>
  </md-content>

  <md-button class="md-fab back-button" ng-click="goToListComplexes()" tabindex="7">
    <i class="fa fa-reply-all"></i>
    <md-tooltip>Torna a Plessi</md-tooltip>
  </md-button>

  <md-button ng-disabled="complexForm.$invalid" ng-click="save(complexForm.$valid)" tabindex="6"
             class="md-fab md-primary add-button">
    <i class="fa fa-save"></i>
    <md-tooltip>Salva</md-tooltip>
  </md-button>

</section>