<section data-ng-controller="ComplexesCtrl" data-ng-init="find()">
  <h1>{{ global.getSchool().name }}</h1>

  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Plessi</a></li>
  </ul>

  <div class="row">
    <div class="col-xs-4" data-ng-repeat="complex in complexes">
      <div class="thumbnail">
        <h3>{{complex.name}}</h3>
        <p>{{complex | address}}</p>

        <div class="pull-right">
          <button class="btn btn-primary" role="button" data-ng-click="goToListAcademicYears(complex)"><i
              class="fa fa-check"></i></button>
          <button href="#" class="btn btn-default" role="button" data-ng-click="goToEditComplex(complex)"><i
              class="fa fa-pencil"></i></button>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <button data-ng-click="goToCreateComplex()" class="btn btn-default"><i class="fa fa-plus"></i> Nuovo plesso</button>

</section>
