<section data-ng-controller="TeachingsCtrl" data-ng-init="findOne()">
    <h2>Modifica insegnamento</h2>

    <form name="teachingForm" role="form" data-ng-submit="update(teachingForm.$valid)" novalidate>

        <div class="form-group"
             data-ng-class="{ 'has-error' : teachingForm.name.$invalid && !teachingForm.name.$pristine }">
            <label for="name" class="control-label">Nome</label>
            <input type="text" data-ng-model="teaching.name" id="name" name="name" class="form-control"
                   placeholder="Nome" required>

            <p ng-show="teachingForm.name.$invalid && !teachingForm.name.$pristine" class="help-block">Il nome è
                obbligatorio.</p>
        </div>

        <hr>

        <button type="submit" class="btn btn-primary" data-ng-disabled="teachingForm.$invalid">Salva</button>

        <button type="button" data-ng-click="list()" class="btn btn-default">Annulla</button>

    </form>
</section>