<section ng-controller="TeachingsCtrl" ng-init="init()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">

      <form name="teachingForm" ng-submit="save(teachingForm.$valid)" novalidate flex layout="column">
        <section class="md-whiteframe-z1">
          <md-toolbar>
            <h2 class="md-toolbar-tools">{{title}}</h2>
          </md-toolbar>

          <md-content class="md-padding">

            <md-input-container flex>
              <label>Nome</label>
              <input type="text" name="name" ng-model="teaching.name" required tabindex="1" autofocus/>

              <div ng-messages="teachingForm.name.$error" ng-show="teachingForm.name.$dirty">
                <div ng-message="required">Nome obbligatorio</div>
              </div>
            </md-input-container>

            <div layout layout-sm="column">
              <md-select ng-model="teaching.teacher" placeholder="Insegnante" flex required tabindex="2">
                <md-option ng-value="teacher._id" ng-repeat="teacher in teachers">
                  {{teacher | name}}
                </md-option>
              </md-select>
            </div>
          </md-content>
        </section>
      </form>

    </div>
  </md-content>

  <md-button class="md-fab back-button" ng-click="goToListTeachings()" tabindex="4">
    <i class="fa fa-reply-all"></i>
    <md-tooltip>Torna a Insegnamenti</md-tooltip>
  </md-button>

  <md-button ng-disabled="teachingForm.$invalid" ng-click="save(teachingForm.$valid)" tabindex="3"
             class="md-fab md-primary add-button">
    <i class="fa fa-save"></i>
    <md-tooltip>Salva</md-tooltip>
  </md-button>
  </form>

</section>