<section ng-controller="TeachingsCtrl" ng-init="init()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">

      <form name="teachingForm" ng-submit="save(teachingForm.$valid)" novalidate flex layout="column">
        <section class="md-whiteframe-z1">
          <md-toolbar>
            <h2 class="md-toolbar-tools">{{title}}</h2>
          </md-toolbar>

          <md-content class="md-padding">

            <md-input-container flex>
              <label>Nome</label>
              <input type="text" name="name" ng-model="teaching.name" required tabindex="1" autofocus/>

              <div ng-messages="teachingForm.name.$error" ng-show="teachingForm.name.$dirty">
                <div ng-message="required">Nome obbligatorio</div>
              </div>
            </md-input-container>

            <md-input-container ng-class="{'md-input-has-value': teaching.teacher}" flex>
              <label>Insegnante</label>
              <select ng-model="teaching.teacher" name="teacher" class="md-input" required tabindex="2" flex
                      ng-options="teacher._id as teacher | name for teacher in teachers"></select>

              <div ng-messages="teachingForm.teacher.$error" ng-show="teachingForm.teacher.$dirty">
                <div ng-message="required">Insegnante obbligatorio</div>
              </div>
            </md-input-container>
          </md-content>
        </section>
      </form>

    </div>
  </md-content>

  <md-button class="md-fab back-button" ng-click="goToListTeachings()" tabindex="4">
    <i class="fa fa-reply-all"></i>
    <md-tooltip>Torna a Insegnamenti</md-tooltip>
  </md-button>

  <md-button ng-disabled="teachingForm.$invalid" ng-click="save(teachingForm.$valid)" tabindex="3"
             class="md-fab md-primary add-button">
    <i class="fa fa-save"></i>
    <md-tooltip>Salva</md-tooltip>
  </md-button>
  </form>

</section>