<section ng-controller="TeachingsCtrl" ng-init="find()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">
      <div flex layout="column">
        <section class="md-whiteframe-z1">
          <md-list>
            <md-item ng-repeat="teaching in teachings">
              <md-item-content class="item-content">
                <div class="md-tile-content" ng-click="goToTeachingRegistry(teaching)">
                  <h3 class="item-content-text">
                    <i class="fa fa-book item-content-icon"></i> {{teaching.name}}
                  </h3>
                </div>
                <div class="md-tile-right">
                  <md-button class="icon-button" ng-click="goToEditTeaching(teaching)"
                             ng-if="global.isAdmin() || global.isManager()">
                    <i class="fa fa-pencil"></i>
                    <md-tooltip>Modifica</md-tooltip>
                  </md-button>
                  <md-button class="icon-button" as-confirmed-click="remove(student)"
                             as-confirm-message="Sicuro di voler eliminare questo insegnamento?"
                             ng-if="global.isAdmin() || global.isManager()">
                    <i class="fa fa-trash"></i>
                    <md-tooltip>Cancella</md-tooltip>
                  </md-button>
                </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
            </md-item>
          </md-list>
        </section>
      </div>
    </div>
  </md-content>

  <md-button class="md-fab md-primary add-button" ng-click="goToCreateTeaching()"
             ng-if="global.isAdmin() || global.isManager()">
    <i class="fa fa-plus"></i>
    <md-tooltip>Aggiungi</md-tooltip>
  </md-button>

</section>