extends ../layouts/default

block content
  .row
    .offset1.span5
      a(href="/auth/facebook")
        img(src="/img/icons/facebook.png")
      a(href="/auth/github")
        img(src="/img/icons/github.png")
      a(href="/auth/twitter")
        img(src="/img/icons/twitter.png")
      a(href="/auth/google")
        img(src="/img/icons/google.png")
    .span6
      if (errors.length !== 0)
        .alert.alert-danger.alert-dismissable
          button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
          ul
            each error in errors
              li= error.type

      block auth
