<section data-ng-controller="SchoolsCtrl" data-ng-init="init()" layout="vertical" layout-align="center center">

  <md-toolbar class="md-theme-light toolbar">
    <div class="md-toolbar-tools">
      <md-button class="icon-button" data-ng-click="goToListSchools()">
        <i class="fa fa-arrow-left"></i>
        <md-tooltip>Torna a Istituti</md-tooltip>
      </md-button>

      <h2>Istituti</h2>

      <div flex></div>
    </div>
  </md-toolbar>

  <md-content class="md-content-padding ">
    <div class="md-whiteframe-z1">
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">Nuovo istituto</h2>
      </md-toolbar>

      <md-content class="md-theme-white md-content-padding">

        <form name="schoolForm" data-ng-submit="create(schoolForm.$valid)" novalidate>
          <md-text-float label="Nome" ng-model="school.name" type="text" tabindex="0" name="name" class="long" required></md-text-float>

          <div layout="horizontal" layout-align="end">
            <md-button type="submit" class="md-button-colored" data-ng-disabled="schoolForm.$invalid">Salva</md-button>
          </div>

        </form>
      </md-content>
    </div>
  </md-content>

</section>