<section ng-controller="SchoolsCtrl" ng-init="init()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">

      <form name="schoolForm" ng-submit="save(schoolForm.$valid)" novalidate flex layout="column">
        <section class="md-whiteframe-z1">
          <md-toolbar>
            <h2 class="md-toolbar-tools">{{title}}</h2>
          </md-toolbar>

          <md-content class="md-padding">

            <md-input-container flex>
              <label>Nome</label>
              <input type="text" name="name" ng-model="school.name" required tabindex="1" autofocus/>

              <div ng-messages="schoolForm.name.$error" ng-show="schoolForm.name.$dirty">
                <div ng-message="required">Nome obbligatorio</div>
              </div>
            </md-input-container>

          </md-content>
        </section>
      </form>

    </div>
  </md-content>

  <md-button class="md-fab back-button" ng-click="goToListSchools()" tabindex="3">
    <i class="fa fa-reply-all"></i>
    <md-tooltip>Torna a Istituti</md-tooltip>
  </md-button>

  <md-button ng-disabled="schoolForm.$invalid" ng-click="save(schoolForm.$valid)" tabindex="2"
             class="md-fab md-primary add-button">
    <i class="fa fa-save"></i>
    <md-tooltip>Salva</md-tooltip>
  </md-button>

</section>