<section data-ng-controller="SchoolsCtrl" data-ng-init="find()">

  <div class="row">
    <div class="col-xs-3" data-ng-repeat="school in schools">
      <div class="thumbnail">
        <h3>{{school.name}}</h3>

        <div class="pull-right">
          <button class="btn btn-primary" role="button" data-ng-click="goToListComplexes(school)"><i
              class="fa fa-check"></i></button>
          <button href="#" class="btn btn-default" role="button" data-ng-click="goToEditSchool(school)"><i
              class="fa fa-pencil"></i></button>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</section>