<section data-ng-controller="SchoolsCtrl" data-ng-init="findOne();findComplexes();">
    <h2>Dettaglio scuola</h2>

    <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>{{ school.name }}</dd>
        <dl data-ng-repeat="complex in school.complexes">
            <dt>{{ complex.name }}</dt>
            <dd>{{ complex | address }}</dd>
        </dl>
    </dl>

    <button data-ng-click="edit(school)" class="btn btn-default">Modifica scuola</button>

    <hr/>

    <h2>Plessi</h2>

    <div class="row">
        <div class="col-xs-3" data-ng-repeat="complex in complexes">
            <a class="thumbnail btn" data-ng-click="goToEditComplex(school._id,complex._id)">
                <p>{{complex.name}}</p>
                <p>{{complex | address}}</p>
            </a>
        </div>
        <div class="col-xs-3">
            <a class="thumbnail btn" data-ng-click="goToCreateComplex(school._id)">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>

</section>
