<section ng-controller="ParentsCtrl" ng-init="findOne()" layout="vertical" layout-align="center center">

  <form name="parentForm" ng-submit="update(parentForm.$valid)" novalidate>
    <md-content class="md-padding ">
      <div class="md-whiteframe-z1">
        <md-toolbar>
          <h2 class="md-toolbar-tools">Modifica genitore</h2>
        </md-toolbar>

        <md-content class="md-padding">

          <div layout="horizzontal">

            <md-text-float label="Nome" ng-model="parent.firstName" type="text" tabindex="0" name="name" class="long"
                           required></md-text-float>

            <md-text-float label="Cognome" ng-model="parent.lastName" type="text" tabindex="1" name="street"
                           class="long" required></md-text-float>

          </div>

        </md-content>
      </div>
    </md-content>

    <md-button type="button" class="md-fab back-button" ng-click="goToListParents()">
      <i class="fa fa-reply-all"></i>
      <md-tooltip>Torna a genitori</md-tooltip>
    </md-button>

    <md-button type="submit" ng-disabled="parentForm.$invalid" class="md-fab md-primary add-button">
      <i class="fa fa-save"></i>
      <md-tooltip>Salva</md-tooltip>
    </md-button>
  </form>

</section>