<section data-ng-controller="ParentsCtrl" data-ng-init="findOne()">
  <h2>Modifica genitore</h2>

  <form name="parentForm" role="form" data-ng-submit="update(parentForm.$valid)" novalidate class="form-horizontal">

    <div class="form-group"
         data-ng-class="{ 'has-error' : parentForm.firstName.$invalid && !parentForm.firstName.$pristine }">
      <label for="firstName" class="col-sm-2 control-label">Nome</label>

      <div class="col-sm-10">
        <input type="text" data-ng-model="parent.firstName" id="firstName" name="firstName" class="form-control"
               placeholder="Nome" required>
      </div>

      <p ng-show="parentForm.firstName.$invalid && !parentForm.firstName.$pristine" class="help-block">
        Il nome è obbligatorio.
      </p>
    </div>

    <div class="form-group"
         data-ng-class="{ 'has-error' : parentForm.lastName.$invalid && !parentForm.lastName.$pristine }">
      <label for="lastName" class="col-sm-2 control-label">Cognome</label>

      <div class="col-sm-10">
        <input type="text" data-ng-model="parent.lastName" id="lastName" name="lastName" class="form-control"
               placeholder="Cognome" required>
      </div>

      <p ng-show="parentForm.lastName.$invalid && !parentForm.lastName.$pristine" class="help-block">
        Il cognome è obbligatorio.
      </p>
    </div>

    <div class="form-group"
         data-ng-class="{ 'has-error' : parentForm.email.$invalid && !parentForm.email.$pristine }">
      <label for="email" class="col-sm-2 control-label">Email</label>

      <div class="col-sm-10">
        <input type="email" data-ng-model="parent.user.email" id="email" name="email" class="form-control"
               placeholder="Email" required>
      </div>

      <p ng-show="parentForm.email.$invalid && !parentForm.email.$pristine" class="help-block">
        Inserire una email valida
      </p>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <p class="navbar-text">
          Powered by <a href="http://www.apuliasoft.com" target="new">ApuliaSoft</a>
        </p>

        <div class="nav navbar-nav navbar-right btn-group">
          <button type="button" data-ng-click="goToListParents()" class="btn btn-default navbar-btn" class="Annulla">
            <i class="fa fa-times"></i> Annulla
          </button>
          <button type="submit" data-ng-disabled="parentForm.$invalid" class="btn btn-primary navbar-btn" class="Salva">
            <i class="fa fa-check"></i> Salva
          </button>
        </div>
      </div>
    </nav>

  </form>
</section>