<section data-ng-controller="ParentsCtrl" data-ng-init="findOne()">
  <h2>Modifica genitore</h2>

  <form name="parentForm" role="form" data-ng-submit="update(parentForm.$valid)" novalidate>

    <div class="form-group"
         data-ng-class="{ 'has-error' : parentForm.firstName.$invalid && !parentForm.firstName.$pristine }">
      <label for="firstName" class="control-label">Nome</label>
      <input type="text" data-ng-model="parent.firstName" id="firstName" name="firstName" class="form-control"
             placeholder="Nome" required>

      <p ng-show="parentForm.firstName.$invalid && !parentForm.firstName.$pristine" class="help-block">Il nome è
        obbligatorio.</p>
    </div>

    <div class="form-group"
         data-ng-class="{ 'has-error' : parentForm.lastName.$invalid && !parentForm.lastName.$pristine }">
      <label for="lastName" class="control-label">Cognome</label>
      <input type="text" data-ng-model="parent.lastName" id="lastName" name="lastName" class="form-control"
             placeholder="Cognome" required>

      <p ng-show="parentForm.lastName.$invalid && !parentForm.lastName.$pristine" class="help-block">Il cognome
        è obbligatorio.</p>
    </div>

    <div class="form-group"
         data-ng-class="{ 'has-error' : parentForm.email.$invalid && !parentForm.email.$pristine }">
      <label for="email" class="control-label">Email</label>
      <input type="email" data-ng-model="parent.user.email" id="email" name="email" class="form-control"
             placeholder="Email" required>

      <p ng-show="parentForm.email.$invalid && !parentForm.email.$pristine" class="help-block">Inserire una email
        valida</p>
    </div>

    <hr>

    <button type="submit" class="btn btn-primary" data-ng-disabled="parentForm.$invalid">Salva</button>

    <button type="button" data-ng-click="goToListParents()" class="btn btn-default">Annulla</button>

  </form>
</section>