<section ng-controller="ParentsCtrl" ng-init="init()" flex layout="column" layout-fill>

  <md-content md-scroll-y flex layout="row" layout-align="center">

    <form name="parentForm" ng-submit="save(parentForm.$valid)" novalidate>
      <md-content class="md-padding">
        <div class="md-whiteframe-z1">
          <md-toolbar>
            <h2 class="md-toolbar-tools">{{title}}</h2>
          </md-toolbar>

          <md-content class="md-padding">

            <md-text-float label="Email" ng-model="parent.user.email" ng-if="!editMode" type="email" tabindex="0"
                           name="email"
                           class="longest" required></md-text-float>

            <div layout="horizzontal">

              <md-text-float label="Nome" ng-model="parent.firstName" type="text" tabindex="1" name="name" class="long"
                             required></md-text-float>

              <md-text-float label="Cognome" ng-model="parent.lastName" type="text" tabindex="2" name="street"
                             class="long" required></md-text-float>

            </div>

          </md-content>
        </div>
      </md-content>

      <md-button type="button" class="md-fab back-button" ng-click="goToListParents()">
        <i class="fa fa-reply-all"></i>
        <md-tooltip>Torna a genitori</md-tooltip>
      </md-button>

      <md-button type="submit" ng-disabled="parentForm.$invalid" class="md-fab md-primary add-button">
        <i class="fa fa-save"></i>
        <md-tooltip>Salva</md-tooltip>
      </md-button>
    </form>

  </md-content>

</section>