<section data-ng-controller="ParentsCtrl" data-ng-init="find()">
  <h2>{{ global.getStudent() | name }}</h2>

  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#">Genitori</a></li>
  </ul>

  <div class="row">
    <div class="col-xs-4" data-ng-repeat="parent in parents">
      <div class="thumbnail">
        <h3>{{parent | name}}</h3>
        <p>{{parent.user.email}}</p>

        <div class="pull-right">
          <button href="#" class="btn btn-default" role="button" data-ng-click="goToEditParent(parent)"><i
              class="fa fa-pencil"></i></button>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <button data-ng-click="goToCreateParent()" class="btn btn-default"><i class="fa fa-plus"></i> Nuovo genitore</button>
</section>
