<section ng-controller="StudentsCtrl" ng-init="init()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">

      <form name="studentForm" ng-submit="save(studentForm.$valid)" novalidate flex layout="column">

        <section class="md-whiteframe-z1">
          <md-toolbar>
            <h2 class="md-toolbar-tools">{{title}}</h2>
          </md-toolbar>

          <md-content class="md-padding">

            <div layout layout-sm="column">

              <md-input-container flex>
                <label>Nome</label>
                <input type="text" name="firstName" ng-model="student.firstName" required tabindex="1" autofocus/>

                <div ng-messages="studentForm.firstName.$error" ng-show="studentForm.firstName.$dirty">
                  <div ng-message="required">Nome obbligatorio</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label>Cognome</label>
                <input type="text" name="lastName" ng-model="student.lastName" required tabindex="2"/>

                <div ng-messages="studentForm.lastName.$error" ng-show="studentForm.lastName.$dirty">
                  <div ng-message="required">Cognome obbligatorio</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label>Data di nascita</label>
                <input type="date" name="birthDate" ng-model="student.birthDate" required tabindex="3"/>

                <div ng-messages="studentForm.birthDate.$error" ng-show="studentForm.birthDate.$dirty">
                  <div ng-message="required">Data di nascita obbligatoria</div>
                  <div ng-message="date">Data di nascita non valida</div>
                </div>
              </md-input-container>

            </div>

            <md-input-container ng-if="!editMode"  flex>
              <label>Email</label>
              <input type="email" name="email" ng-model="student.user.email" required tabindex="4"/>

              <div ng-messages="studentForm.email.$error" ng-show="studentForm.email.$dirty">
                <div ng-message="required">Email obbligatoria</div>
                <div ng-message="email">Email non valida</div>
              </div>
            </md-input-container>

        </section>
      </form>

    </div>
  </md-content>

  <md-button class="md-fab back-button" ng-click="goToListStudents()" tabindex="6">
    <i class="fa fa-reply-all"></i>
    <md-tooltip>Torna a Studenti</md-tooltip>
  </md-button>

  <md-button ng-disabled="studentForm.$invalid" ng-click="save(studentForm.$valid)" tabindex="5"
             class="md-fab md-primary add-button">
    <i class="fa fa-save"></i>
    <md-tooltip>Salva</md-tooltip>
  </md-button>

</section>