<section data-ng-controller="StudentsCtrl" data-ng-init="findOne();findParents();">
    <h2>Dettaglio alunno</h2>

    <dl class="dl-horizontal">
        <dt>Nome</dt>
        <dd>{{ student.firstName }}</dd>
        <dt>Cognome</dt>
        <dd>{{ student.lastName }}</dd>
        <dt>Data di nascita</dt>
        <dd>{{ student.birthDate | date }}</dd>
    </dl>

    <button data-ng-click="edit(student)" class="btn btn-default">Modifica alunno</button>

    <h2>Genitori</h2>

    <div class="row">
        <div class="col-xs-3" data-ng-repeat="parent in parents">
            <a class="thumbnail btn" data-ng-click="goToEditParent(student._id, parent._id)">
                <p>{{parent.name}}</p>

                <p>{{parent.email}}</p>
            </a>
        </div>
        <div class="col-xs-3">
            <a class="thumbnail btn" data-ng-click="goToCreateParent(student._id)">
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>

</section>
