<section data-ng-controller="SchoolClassesCtrl" data-ng-init="init()">
  <h2>Crea classe</h2>

    <form name="schoolClassForm" role="form" data-ng-submit="create(schoolClassForm.$valid)" novalidate>

        <div class="form-group" data-ng-class="{ 'has-error' : schoolClassForm.name.$invalid && !schoolClassForm.name.$pristine }">
            <label for="name" class="control-label">Nome</label>
            <input type="text" data-ng-model="schoolClass.name" id="name" name="name" class="form-control" placeholder="Nome" required>

            <p ng-show="schoolClassForm.name.$invalid && !schoolClassForm.name.$pristine" class="help-block">Il nome è
                obbligatorio.</p>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <h2>Tutti gli alunni</h2>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input data-ng-model="searchChosableStudent" type="text" class="form-control" placeholder="cerca in tutti gli alunni...">
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-4" ng-repeat="student in chosableStudents | filter:searchChosableStudent">
                        <div class="thumbnail">
                            <p>{{student.lastName}}</p>
                            <p>{{student.firstName}}</p>
                            <p>{{student.birthDate | date}}</p>
                            <button class="btn-mini" ng-click="addStudent(student)">+</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <h2>Alunni selezionati</h2>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input data-ng-model="searchChosenStudent" type="text" class="form-control" placeholder="cerca tra gli alunni selezionati...">
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-4" ng-repeat="student in chosenStudents | filter:searchChosenStudent">
                        <div class="thumbnail">
                            <p>{{student.lastName}}</p>
                            <p>{{student.firstName}}</p>
                            <p>{{student.birthDate | date}}</p>
                            <button class="btn-mini" ng-click="removeStudent(student)">-</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <button type="submit" class="btn btn-primary" data-ng-disabled="schoolClassForm.$invalid">Crea</button>

        <button type="button" data-ng-click="goToListSchoolClasses()" class="btn btn-default">Annulla</button>

    </form>

</section>