<section data-ng-controller="SchoolClassesCtrl" data-ng-init="findOne()">
  <h2>Modifica classe</h2>

  <form name="schoolClassForm" role="form" data-ng-submit="update()" novalidate>

    <div class="form-group">
      <label for="name" class="control-label">Nome</label>
      <input type="text" data-ng-model="schoolClass.name" id="name" name="name" class="form-control" placeholder="Nome">
    </div>

    <div class="form-group">
      <label for="academicYear" class="control-label">Anno Accademico</label>
      <select data-ng-model="schoolClass.academicYear" id="academicYear" name="academicYear" class="form-control" placeholder="Anno Accademico" data-ng-options="academicYear._id as academicYear.name for academicYear in academicYears"></select>
    </div>

    <div class="form-group">
      <label for="students" class="control-label">Studenti</label>
      <select class="form-control" size="15" id="students" multiple data-ng-multiple="true"
              data-ng-model="schoolClass.students" data-ng-options="student._id as student | name for student in students">
      </select>
    </div>

    <hr>

    <button type="submit" class="btn btn-primary">Salva</button>

    <button type="button" data-ng-click="list()" class="btn btn-default">Annulla</button>

  </form>
</section>