<table class="table table-condensed">
  <thead>
  <tr>
    <th data-ng-repeat="label in labels">{{ label }}</th>
    <th>Azioni</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="elem in list">
    <td data-ng-repeat="column in columns">{{ getData(elem, column) }}</td>
    <td>
      <button data-ng-click="view({elem:elem})" class="btn btn-default btn-xs" title="dettagli"><i class="fa fa-eye"></i></button>
      <button data-ng-click="edit({elem:elem})" class="btn btn-default btn-xs" title="modifica"><i class="fa fa-pencil"></i></button>
      <button data-ng-click="remove({elem:elem})" class="btn btn-default btn-xs" title="elimina"><i class="fa fa-trash-o"></i></button>
    </td>
  </tr>
  </tbody>
</table>