<section data-ng-controller="TeachingRegistryCtrl" data-ng-init="init()">

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary pull-left" data-ng-click="yesterday()"><i
          class="fa fa-arrow-circle-left"></i> Precedente
      </button>
      <button class="btn btn-primary pull-right" data-ng-click="tomorrow()">Successivo <i
          class="fa fa-arrow-circle-right"></i></button>
      <button class="btn center-block btn-default" datepicker-popup="EEEE, d MMMM yyyy" is-open="opened"
              min-date="minDate" max-date="maxDate"
              data-ng-model="teachingRegistry.date" data-ng-click="open($event)" datepicker-options="dateOptions"
              show-button-bar="false" date-disabled="disabled(date, mode)">
        {{ teachingRegistry.date | date:'EEEE, d MMMM yyyy' }}
      </button>
    </div>
  </div>

  <hr/>

  <form data-ng-submit="save()" novalidate>

    <div class="form-group">
      <label for="votes" class="control-label">Voti</label>
      <table id="votes" class="table">
        <thead>
        <tr>
          <th>Studente</th>
          <th>Voto</th>
          <th>Modalità</th>
          <th>Parziali</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="vote in teachingRegistry.votes">
          <!--STUDENTE-->
          <td>
            <select data-ng-model="vote.student" class="form-control"
                    data-ng-options="student._id as student | name for student in classStudents"></select>
          </td>
          <!--VOTO-->
          <td>
            <input type="text" data-ng-model="vote.vote" class="form-control"
                   placeholder="Voto">
          </td>
          <!--MODALITA' VOTO-->
          <td>
            <input type="text" data-ng-model="vote.mode" class="form-control"
                   placeholder="Modalità">
          </td>
          <!--PARZIALI-->
          <td>
            <table class="table">
              <thead>
              <tr>
                <th>Criterio</th>
                <th>Voto</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr data-ng-repeat="partial in vote.partials">
                <!--CRITERIO-->
                <td>
                  <input type="text" data-ng-model="partial.criterion" class="form-control"
                         placeholder="Criterio">
                </td>
                <!--VOTO-->
                <td>
                  <input type="text" data-ng-model="partial.vote" class="form-control"
                         placeholder="Voto">
                </td>
                <td>
                  <button type="button" class="btn btn-danger" ng-click="removePartial(vote, partial)"><i
                      class="fa fa-times"></i>
                  </button>
                </td>
              </tr>
            </table>
            <button type="button" class="btn btn-default" data-ng-click="addPartial(vote)"><i class="fa fa-plus"></i>
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" ng-click="removeVote(vote)"><i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-default" data-ng-click="addVote()"><i class="fa fa-plus"></i></button>

    </div>

    <hr>

    <div class="form-group">
      <label for="absences" class="control-label">Assenze</label>
      <table id="absences" class="table">
        <thead>
        <tr>
          <th>Studente</th>
          <th>Ore</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="absence in teachingRegistry.absences">
          <!--STUDENTE-->
          <td>
            <select data-ng-model="absence.student" class="form-control"
                    data-ng-options="student._id as student | name for student in students"></select>
          </td>
          <!--ORE-->
          <td>
            <input type="number" data-ng-model="absence.slots" class="form-control" placeholder="Ore">
          </td>
          <td>
            <button type="button" class="btn btn-danger" ng-click="removeAbsence(absence)"><i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-default" data-ng-click="addAbsence()"><i class="fa fa-plus"></i></button>
    </div>

    <hr>

    <div class="form-group">
      <label for="annotations" class="control-label">Annotazioni</label>
      <textarea id="annotations" class="form-control" rows="3" data-ng-model="teachingRegistry.annotations" ></textarea>
    </div>

    <div class="form-group">
      <label for="notes" class="control-label">Note</label>
      <textarea id="notes" class="form-control" rows="3" data-ng-model="teachingRegistry.notes"></textarea>
    </div>

    <hr>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <p class="navbar-text">
          Powered by <a href="http://www.apuliasoft.com" target="new">ApuliaSoft</a>
        </p>

        <div class="nav navbar-nav navbar-right btn-group">
          <button type="submit" class="btn btn-primary navbar-btn"
                  class="Salva">
            <i class="fa fa-check"></i> Salva
          </button>
        </div>
      </div>
    </nav>

  </form>

</section>