<section data-ng-controller="CommunicationsCtrl" data-ng-init="find()">

  <md-toolbar class="md-theme-green md-whiteframe-z1 toolbar">
    <div class="md-toolbar-tools">
      <h2>Comunicazioni</h2>

      <div flex></div>
    </div>
  </md-toolbar>

  <md-content class="md-content-padding" scroll-y flex>
    <div layout="vertical" layout-fill class="content">
      <div flex layout="vertical">
        <section class="md-theme-white md-whiteframe-z1">
          <md-list>
            <md-item ng-repeat="communication in communications">
              <md-item-content class="item-content">
                <div class="md-tile-content" data-ng-click="goToViewCommunication(communication)">
                  <h3 class="item-content-text"><i class="fa fa-bullhorn item-content-icon"></i> {{communication.title}}</h3>
                </div>
                <div class="md-tile-right">
                  <md-button class="icon-button" title="Modifica" data-ng-click="goToEditUser(user)">
                    <i class="fa fa-pencil"></i>
                  </md-button>
                  <md-button class="icon-button" title="Cancella" data-as-confirmed-click="remove(student)" data-as-confirm-message="Sicuro di voler eliminare questa comunicazione?">
                    <i class="fa fa-trash"></i>
                  </md-button>
                </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
            </md-item>
          </md-list>
        </section>
      </div>
    </div>
  </md-content>

  <md-button class="md-button-fab add-button md-theme-green" title="Aggiungi" data-ng-click="goToCreateCommunication()">
    <i class="fa fa-plus"></i>
  </md-button>

</section>
