<section ng-controller="CommunicationsCtrl" ng-init="findOne()">

  <div class="row">
    <div class="col-xs-12">
      <h3>{{communication.title}}</h3>
      <h5>
        <small>Pubblicato {{communication.pubDate | date:"EEEE, d MMMM yyyy"}}</small>
      </h5>
      <p>{{communication.text}}</p>
      <div class="clearfix"></div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <p class="navbar-text">
        Powered by <a href="http://www.apuliasoft.com" target="new">ApuliaSoft</a>
      </p>

      <div class="nav navbar-nav navbar-right btn-group">
        <button type="button" ng-click="remove()" class="btn btn-danger navbar-btn" title="Cancella" ng-if="global.isAdmin() || global.isManager()">
          <i class="fa fa-eraser"></i> Cancella
        </button>
        <button type="button" ng-click="goToEditCommunication(communication)" class="btn btn-primary navbar-btn" title="Modifica" ng-if="global.isAdmin() || global.isManager()">
          <i class="fa fa-edit"></i> Modifica
        </button>
      </div>
    </div>
  </nav>

</section>
