<section data-ng-init="findOne()">

  <h1>Modifica anno accademico</h1>

  <form class="form-horizontal" role="form" data-ng-submit="update()">

    <bsinput type="text" model="academicYear.name" id="name" placeholder="Anno accademico">Anno accademico</bsinput>

    <bsinput type="date" model="academicYear.startDate" id="startDate" placeholder="Data inizio">Data inizio</bsinput>

    <bsinput type="date" model="academicYear.endDate" id="endDate" placeholder="Data fine">Data fine</bsinput>

    <bssubmit>Salva</bssubmit>

  </form>

</section>