<section data-ng-controller="TeachersCtrl" data-ng-init="init()">
    <h2>Crea insegnante</h2>

    <form name="teacherForm" role="form" data-ng-submit="create(teacherForm.$valid)" novalidate>

        <div class="form-group"
             data-ng-class="{ 'has-error' : teacherForm.firstName.$invalid && !teacherForm.firstName.$pristine }">
            <label for="firstName" class="control-label">Nome</label>
            <input type="text" data-ng-model="teacher.firstName" id="firstName" name="firstName" class="form-control"
                   placeholder="Nome" required>

            <p ng-show="teacherForm.firstName.$invalid && !teacherForm.firstName.$pristine" class="help-block">Il nome è
                obbligatorio.</p>
        </div>

        <div class="form-group"
             data-ng-class="{ 'has-error' : teacherForm.lastName.$invalid && !teacherForm.lastName.$pristine }">
            <label for="lastName" class="control-label">Cognome</label>
            <input type="text" data-ng-model="teacher.lastName" id="lastName" name="lastName" class="form-control"
                   placeholder="Cognome" required>

            <p ng-show="teacherForm.lastName.$invalid && !teacherForm.lastName.$pristine" class="help-block">Il cognome
                è obbligatorio.</p>
        </div>

        <div class="form-group" data-ng-class="{ 'has-error' : teacherForm.email.$invalid && !teacherForm.email.$pristine }">
            <label for="email" class="control-label">Email</label>
            <input type="email" data-ng-model="teacher.email" id="email" name="email" class="form-control"
                   placeholder="Email" required>

            <p ng-show="teacherForm.email.$invalid && !teacherForm.email.$pristine" class="help-block">Inserire una email valida</p>
        </div>

        <hr>

        <button type="submit" class="btn btn-primary" data-ng-disabled="teacherForm.$invalid">Crea</button>

        <button type="button" data-ng-click="list()" class="btn btn-default">Annulla</button>

    </form>
</section>