<section data-ng-controller="TeachersController" data-ng-init="findOne()">

  <h1>Modifica insegnante</h1>

  <form class="form-horizontal" role="form" data-ng-submit="update()">

    <div class="form-group">
      <label for="firstName" class="col-sm-2 control-label">Nome</label>

      <div class="col-sm-10">
        <input type="text" data-ng-model="school.firstName" id="firstName" class="form-control" placeholder="Nome" tabindex="1" autofocus="on">
      </div>
    </div>

    <div class="form-group">
      <label for="lastName" class="col-sm-2 control-label">Cognome</label>

      <div class="col-sm-10">
        <input type="text" data-ng-model="school.lastName" id="lastName" class="form-control" placeholder="Nome" tabindex="1">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" tabindex="101">Salva</button>
      </div>
    </div>

  </form>

</section>