<section ng-controller="TeachersCtrl" ng-init="init()" layout="vertical" layout-align="center center">

  <form name="teacherForm" ng-submit="save(teacherForm.$valid)" novalidate>
    <md-content class="md-padding ">
      <div class="md-whiteframe-z1">
        <md-toolbar>
          <h2 class="md-toolbar-tools">{{title}}</h2>
        </md-toolbar>

        <md-content class="md-padding">

          <md-text-float label="Email" ng-model="teacher.user.email" ng-if="!editMode" type="email" tabindex="0" name="email"
                         class="longest" required></md-text-float>

          <div layout="horizzontal">

            <md-text-float label="Nome" ng-model="teacher.firstName" type="text" tabindex="1" name="name" class="long"
                           required></md-text-float>

            <md-text-float label="Cognome" ng-model="teacher.lastName" type="text" tabindex="2" name="street"
                           class="long" required></md-text-float>

          </div>

        </md-content>
      </div>
    </md-content>

    <md-button type="button" class="md-fab back-button" ng-click="goToListTeachers()">
      <i class="fa fa-reply-all"></i>
      <md-tooltip>Torna a insegnanti</md-tooltip>
    </md-button>

    <md-button type="submit" ng-disabled="teacherForm.$invalid" class="md-fab md-primary add-button">
      <i class="fa fa-save"></i>
      <md-tooltip>Salva</md-tooltip>
    </md-button>
  </form>

</section>