<section ng-controller="TeachersCtrl" ng-init="init()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">

      <form name="teacherForm" ng-submit="save(teacherForm.$valid)" novalidate flex layout="column">
        <section class="md-whiteframe-z1">
          <md-toolbar>
            <h2 class="md-toolbar-tools">{{title}}</h2>
          </md-toolbar>

          <md-content class="md-padding">

            <div layout layout-sm="column">

              <md-input-container flex>
                <label>Nome</label>
                <input type="text" name="firstName" ng-model="teacher.firstName" required tabindex="1" autofocus/>

                <div ng-messages="teacherForm.firstName.$error" ng-show="teacherForm.firstName.$dirty">
                  <div ng-message="required">Nome obbligatorio</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label>Cognome</label>
                <input type="text" name="lastName" ng-model="teacher.lastName" required tabindex="2"/>

                <div ng-messages="teacherForm.lastName.$error" ng-show="teacherForm.lastName.$dirty">
                  <div ng-message="required">Cognome obbligatorio</div>
                </div>
              </md-input-container>

            </div>

            <md-input-container ng-if="!editMode" flex>
              <label>Email</label>
              <input type="email" name="email" ng-model="teacher.user.email" required tabindex="3"/>

              <div ng-messages="teacherForm.email.$error" ng-show="teacherForm.email.$dirty">
                <div ng-message="required">Email obbligatoria</div>
                <div ng-message="email">Email non valida</div>
              </div>
            </md-input-container>

        </section>
      </form>

    </div>
  </md-content>

  <md-button class="md-fab back-button" ng-click="goToListTeachers()" tabindex="5">
    <i class="fa fa-reply-all"></i>
    <md-tooltip>Torna a insegnanti</md-tooltip>
  </md-button>

  <md-button ng-disabled="teacherForm.$invalid" ng-click="save(teacherForm.$valid)" tabindex="4"
             class="md-fab md-primary add-button">
    <i class="fa fa-save"></i>
    <md-tooltip>Salva</md-tooltip>
  </md-button>

</section>