<section data-ng-controller="TeachersCtrl" data-ng-init="find()">

  <div class="row">
    <div class="col-xs-4" data-ng-repeat="teacher in teachers">
      <div class="thumbnail well well-sm">
        <h3>{{teacher | name}}</h3>
        <p>{{teacher.user.email}}</p>

        <div class="pull-right">
          <div class="btn-group btn-group-xs">
            <button class="btn btn-default" role="button" data-ng-click="goToEditTeacher(teacher)" title="Modifica"
                    data-ng-if="global.isAdmin() || global.isManager() || isItMe(teacher)">
              <i class="fa fa-pencil"></i>
            </button>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
      <p class="navbar-text">
        Powered by <a href="http://www.apuliasoft.com" target="new">ApuliaSoft</a>
      </p>

      <div class="nav navbar-nav navbar-right btn-group">
        <button type="button" data-ng-click="goToCreateTeacher()" class="btn btn-primary navbar-btn" title="Aggiungi">
          <i class="fa fa-plus"></i> Aggiungi
        </button>
      </div>
    </div>
  </nav>

</section>
