<section data-ng-controller="AcademicYearsCtrl" data-ng-init="init()">
  <h2>Crea anno accademico</h2>

  <form name="academicYearForm" role="form" data-ng-submit="create()" novalidate>

    <div class="form-group">
      <label for="name" class="control-label">Nome</label>
      <input type="text" data-ng-model="academicYear.name" id="name" name="name" class="form-control" placeholder="Nome">
    </div>

    <div class="form-group">
      <label for="startDate" class="control-label">Data inizio</label>
      <input type="date" data-ng-model="academicYear.startDate" id="startDate" name="startDate" class="form-control" placeholder="Data inizio">
    </div>

    <div class="form-group">
      <label for="endDate" class="control-label">Data fine</label>
      <input type="date" data-ng-model="academicYear.endDate" id="endDate" name="endDate" class="form-control" placeholder="Data fine">
    </div>

    <div class="form-group">
      <label for="complex" class="control-label">Plesso</label>
      <select data-ng-model="academicYear.complex" id="complex" name="complex" class="form-control" placeholder="Plesso" data-ng-options="complex._id as complex.name for complex in complexes"></select>
    </div>

    <hr>

    <button type="submit" class="btn btn-primary">Crea</button>

    <button type="button" data-ng-click="list()" class="btn btn-default">Annulla</button>

  </form>
</section>