<section ng-controller="AcademicYearsCtrl" ng-init="init()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">

      <form name="academicYearForm" ng-submit="save(academicYearForm.$valid)" novalidate flex layout="column">
        <section class="md-whiteframe-z1">
          <md-toolbar>
            <h2 class="md-toolbar-tools">{{title}}</h2>
          </md-toolbar>

          <md-content class="md-padding">

            <md-input-container flex>
              <label>Nome</label>
              <input type="text" name="name" ng-model="academicYear.name" required tabindex="1" autofocus/>

              <div ng-messages="academicYearForm.name.$error" ng-show="academicYearForm.name.$dirty">
                <div ng-message="required">Nome obbligatorio</div>
              </div>
            </md-input-container>

            <div layout layout-sm="column">

              <md-input-container flex>
                <label>Data inizio</label>
                <input type="date" name="startDate" ng-model="academicYear.startDate" required tabindex="2"/>

                <div ng-messages="academicYearForm.startDate.$error" ng-show="academicYearForm.startDate.$dirty">
                  <div ng-message="required">Data inizio obbligatorio</div>
                  <div ng-message="date">Data inizio non valida</div>
                </div>
              </md-input-container>

              <md-input-container flex>
                <label>Data fine</label>
                <input type="date" name="endDate" ng-model="academicYear.endDate" required tabindex="3"/>

                <div ng-messages="academicYearForm.endDate.$error" ng-show="academicYearForm.endDate.$dirty">
                  <div ng-message="required">Data fine obbligatorio</div>
                  <div ng-message="date">Data fine non valida</div>
                </div>
              </md-input-container>

            </div>

          </md-content>

          <section ng-repeat="day in academicYear.timeTable">
            <md-toolbar class="md-grey-theme">
              <h2 class="md-toolbar-tools">
                <md-checkbox ng-model="day.active" ng-change="switchDay(day)" flex tabindex="{{4+$index*24+$index*2}}">
                  {{day.weekDay | weekDay}}
                </md-checkbox>
                <md-button type="button" ng-if="day.active" class="icon-button" ng-click="addTimeSlot(day)"
                           ng-disabled="day.slots.length == 8" tabindex="{{5+$index*24+$index*2}}">
                  <i class="fa fa-plus"></i>
                </md-button>
              </h2>
            </md-toolbar>

            <md-content ng-if="day.active" layout="column" layout-align="bottom" class="md-padding">

              <section ng-repeat="slot in day.slots" layout="row" layout-align="center center">

                <span flex>{{($index+1) | ordinalNumber}} ora</span>

                <ng-form name="timeForm" flex layout="row" layout-align="center center">
                  <md-input-container flex>
                    <label>Ora inizio</label>
                    <input type="time" name="start" ng-model="slot.start" ng-model-options="{ timezone: 'UTC' }"
                           required tabindex="{{6+$parent.$index*24+$parent.$index*2+$index*3}}"/>

                    <div ng-messages="timeForm.start.$error" ng-show="timeForm.start.$dirty">
                      <div ng-message="required">Ora inizio obbligatorio</div>
                      <div ng-message="time">Ora inizio non valida</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex>
                    <label>Ora fine</label>
                    <input type="time" name="end" ng-model="slot.end" ng-model-options="{ timezone: 'UTC' }" required
                           tabindex="{{7+$parent.$index*24+$parent.$index*2+$index*3}}"/>

                    <div ng-messages="timeForm.end.$error" ng-show="timeForm.end.$dirty">
                      <div ng-message="required">Ora fine obbligatorio</div>
                      <div ng-message="time">Ora fine non valida</div>
                    </div>
                  </md-input-container>
                </ng-form>

                <md-button type="button" class="md-warn icon-button" ng-click="removeTimeSlot(day, $index)"
                           tabindex="{{8+$parent.$index*24+$parent.$index*2+$index*3}}" flex="5">
                  <i class="fa fa-times"></i>
                </md-button>

              </section>

            </md-content>
          </section>
        </section>
      </form>

    </div>
  </md-content>

  <md-button class="md-fab back-button" ng-click="goToListAcademicYears()" tabindex="187">
    <i class="fa fa-reply-all"></i>
    <md-tooltip>Torna ad Anni Scolastici</md-tooltip>
  </md-button>

  <md-button ng-disabled="academicYearForm.$invalid" ng-click="save(academicYearForm.$valid)" tabindex="186"
             class="md-fab md-primary add-button">
    <i class="fa fa-save"></i>
    <md-tooltip>Salva</md-tooltip>
  </md-button>

</section>