<section ng-controller="AcademicYearsCtrl" ng-init="find()">

  <md-toolbar class="md-whiteframe-z1">
    <div class="md-toolbar-tools">
      <h2>Anni Scolastici</h2>

      <div flex></div>
    </div>
  </md-toolbar>

  <md-content class="md-padding" scroll-y flex>
    <div layout="vertical" layout-fill class="content">
      <div flex layout="vertical">
        <section class="md-whiteframe-z1">
          <md-list>
            <md-item ng-repeat="academicYear in academicYears">
              <md-item-content class="item-content">
                <div class="md-tile-content" ng-click="goToListSchoolClasses(academicYear)">
                  <h3 class="item-content-text"><i class="fa fa-calendar item-content-icon"></i> {{academicYear.name}}</h3>
                </div>
                <div class="md-tile-right">
                  <md-button class="icon-button" ng-click="goToEditAcademicYear(academicYear)">
                    <i class="fa fa-pencil"></i>
                    <md-tooltip>Modifica</md-tooltip>
                  </md-button>
                  <md-button class="icon-button" as-confirmed-click="remove(academicYear)" as-confirm-message="Sicuro di voler eliminare questo anno scolastico?">
                    <i class="fa fa-trash"></i>
                    <md-tooltip>Cancella</md-tooltip>
                  </md-button>
                </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
            </md-item>
          </md-list>
        </section>
      </div>
    </div>
  </md-content>

  <md-button class="md-fab md-primary add-button" ng-click="goToCreateAcademicYear()">
    <i class="fa fa-plus"></i>
    <md-tooltip>Aggiungi</md-tooltip>
  </md-button>

</section>