<section data-ng-controller="AcademicYearsCtrl" data-ng-init="findOne()">
  <h2>Dettaglio anno accademico</h2>

  <dl class="dl-horizontal">
    <dt>Nome</dt>
    <dd>{{ academicYear.name }}</dd>
    <dt>Data inizio</dt>
    <dd>{{ academicYear.startDate | date }}</dd>
    <dt>Data fine</dt>
    <dd>{{ academicYear.endDate | date }}</dd>
    <dt>Plesso</dt>
    <dd>{{ getComplexName(academicYear.complex) }}</dd>
  </dl>

  <button data-ng-click="edit(academicYear)" class="btn btn-default">Modifica anno accademico</button>
</section>
