<section data-ng-controller="AcademicYearsCtrl" data-ng-init="findOne()">
  <h2>Dettaglio anno accademico</h2>

  <dl class="dl-horizontal">
    <dt>Nome</dt>
    <dd>{{ academicYear.name }}</dd>
    <dt>Data inizio</dt>
    <dd>{{ academicYear.startDate | date }}</dd>
    <dt>Data fine</dt>
    <dd>{{ academicYear.endDate | date }}</dd>
  </dl>

  <div class="row">
    <div class="col-md-4" data-ng-repeat="day in academicYear.timeTable">
      <hr>
      <p><b>{{ day.weekDay | weekDay}}</b></p>

      <div class="row" data-ng-repeat="slot in day.slots | filter:isNotEmptySlot">
        <span class="col-md-4">{{($index+1) | ordinalNumber}} ora</span>

        <div class="col-md-8">
          dalle <b>{{slot.start}}</b>
          alle <b>{{slot.end}}</b>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <button data-ng-click="edit(academicYear)" class="btn btn-default">Modifica anno accademico</button>
</section>
