<section data-ng-controller="ClassStudentsCtrl" data-ng-init="find()">

  <md-toolbar class="md-theme-light md-whiteframe-z1 toolbar">
    <div class="md-toolbar-tools">
      <h2>Alunni</h2>

      <div flex></div>
    </div>
  </md-toolbar>

  <md-content class="md-content-padding" scroll-y flex>
    <div layout="vertical" layout-fill class="content">
      <div flex layout="vertical">
        <section class="md-theme-white md-whiteframe-z1">
          <md-list>
            <md-item ng-repeat="student in classStudents">
              <md-item-content class="item-content">
                <div class="md-tile-content" data-ng-click="goToListParents(student)">
                  <h3 class="item-content-text"><i class="fa fa-graduation-cap item-content-icon"></i> {{student | name}}</h3>
                </div>
                <div class="md-tile-right">
                  <md-button class="icon-button" title="Andamento" data-ng-click="goToStudentStats(student)">
                    <i class="fa fa-line-chart"></i>
                  </md-button>
                </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
            </md-item>
          </md-list>
        </section>
      </div>
    </div>
  </md-content>

</section>
