<section ng-controller="ClassStudentsCtrl" ng-init="find()" flex layout="column" layout-fill>

  <md-content class="md-padding" md-scroll-y flex>
    <div layout="column" layout-fill class="content">
      <div flex layout="column">
        <section class="md-whiteframe-z1">
          <md-list>
            <md-item ng-repeat="student in classStudents">
              <md-item-content class="item-content">
                <div class="md-tile-content" ng-click="goToListParents(student)">
                  <h3 class="item-content-text">
                    <i class="fa fa-graduation-cap item-content-icon"></i> {{student | name}}
                  </h3>
                </div>
                <div class="md-tile-right">
                  <md-button class="icon-button" ng-click="goToStudentStats(student)"
                             ng-if="global.isAdmin() || global.isManager() || global.isTeacher() || global.isItMe(student.user) || global.isParentOf(student)">
                    <i class="fa fa-line-chart"></i>
                    <md-tooltip>Andamento</md-tooltip>
                  </md-button>
                </div>
              </md-item-content>
              <md-divider ng-if="!$last"></md-divider>
            </md-item>
          </md-list>
        </section>
      </div>
    </div>
  </md-content>

</section>
